:local(.container) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('@@CDN@@/images/landbackground.png');
  background-size: cover;
  overflow-y: auto;
}

:local(.content) {
  background-color: white;
  position: relative;
  border-radius: 15px;
  width: 600px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

:local(.worldcup) {
  width: 50%;
  height: 50%;
  margin-bottom: 35px;
}

:local(.counter) {
  font-size: 3.6rem;
  color: #d11d12;
  font-family: SamimBold;
  margin-bottom: -15px;
}

:local(.time) {
  display: flex;
  flex-direction: column;
  width: 75px;
}

:local(.name) {
  font-size: 1.4rem;
  border-top: 2px solid #f0f0f0;
  color: #d9d3ca;
}

:local(.timeContainer) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  > * {
    margin: 0 25px;
  }
}

:local(.info) {
  color: #ccc4b8;
  margin-bottom: 75px;
}

:local(.qadam) {
  display: inline-block;
  background-color: #f5f1ec;
  padding: 10px;
  border: 4px solid #ece8df;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, -50%);

  > * {
    margin: 0;
    color: #ccc4b8;
  }
}

@media (max-width: 680px) {
  :local(.container) {
    display: flex;

    h2 {
      font-size: 1.2rem;
    }
  }

  :local(.worldcup) {
    width: 35%;
    height: 35%;
  }

  :local(.name) {
    font-size: 0.7rem;
  }

  :local(.counter) {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  :local(.content) {
    width: 90%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 15px;
    box-sizing: border-box;
  }

  :local(.info) {
    margin-bottom: 0;
  }

  :local(.qadam) {
    position: static;
    transform: translate(0%, 0%);
    margin-top: 10px;
    border-width: 2px;
    padding: 4px;

    img {
      width: 50%;
      height: 50%;
    }

    h2 {
      font-size: 0.8rem;
    }
  }

  :local(.timeContainer) {
    > * {
      margin: 0 10px;
    }
  }
}

@media (max-width: 400px) {
  :local(.container) {
    h2 {
      font-size: 1rem;
    }
  }

  :local(.name) {
    font-size: 0.6rem;
  }

  :local(.counter) {
    font-size: 1.1rem;
  }

  :local(.qadam) {
    img {
      width: 50%;
      height: 50%;
    }

    h2 {
      font-size: 0.9rem;
    }
  }

  :local(.worldcup) {
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  :local(.container) {
    h2 {
      font-size: 0.8rem;
    }
  }

  :local(.name) {
    font-size: 0.6rem;
  }

  :local(.counter) {
    font-size: 1.1rem;
  }

  :local(.qadam) {
    width: 50px;

    img {
      width: 50%;
      height: 50%;
    }

    h2 {
      font-size: 0.5rem;
    }
  }

  :local(.info) {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
}
